.container-center-up {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e9278;
}

.container-center-up .login-up {
  background-color: #b8d8c0;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.container-center-up .login-up .logo-area-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #74baa0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.container-center-up .login-up .logo-area-up img {
  padding: 20px;
  width: 170px;
}

.container-center-up .login-up .logo-area-up h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  font-size: 35px;
  color: #000;
}

.container-center-up .login-up form {
  margin-top: 1.5rem;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-center-up .login-up form h2 {
  text-align: center;
  margin-bottom: 0.5em;
  color: #000;
}

.container-center-up .login-up form button {
  height: 35px;
  border: 0;
  border-radius: 7px;
  background-color: #3e9278;
  color: #FFF;
  font-size: 1.3em;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.container-center-up .login-up form button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.container-center-up .login-up input {
  margin-bottom: 15px;
  height: 35px;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  background-color: #FFF;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.container-center-up .login-up input:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.container-center-up .login-up a {
  margin: 1.0rem 0;
  color: #3e9278;
  height: 35px;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
  width: 80% !important;
  padding-bottom: 4rem !important;
  text-align: center;
}

.container-center-up .login-up a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.container-center-up .login-up a img {
  width: 18px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 2560px) {
  .login-up {
    width: 40% !important;
  }
  form {
    width: 75% !important;
  }
}

@media (max-width: 800px) {
  .login-up {
    width: 80% !important;
  }
  form {
    width: 75% !important;
  }
}

@media (max-width: 650px) {
  h1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
    font-size: 2rem !important;
    padding-left: 0;
  }
  a {
    width: 75% !important;
    padding-bottom: 4rem !important;
  }
}

@media (max-width: 425px) {
  #root {
    width: 100% !important;
    height: 100% !important;
  }
  .container-center-up {
    width: 425px !important;
    height: 100vh !important;
  }
  h1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
    font-size: 2rem !important;
    padding-left: 0;
  }
  form {
    width: 75% !important;
  }
  a {
    width: 75% !important;
    padding-bottom: 4rem !important;
  }
  .login-up {
    width: 80% !important;
  }
}

@media (max-width: 360px) {
  form {
    width: 75% !important;
  }
  .login-up {
    width: 80% !important;
  }
}

@media (max-width: 320px) {
  form {
    width: 75% !important;
  }
  .login-up {
    width: 80% !important;
  }
}
/*# sourceMappingURL=signup.css.map */